name: PHP CI 

on: 
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP 
        uses: shivammathur/setup-php@v2 
        with:
          php-version: '7.4'

      - name: Install 
        run: make install
      
      - name: Validate composer.json and composer.lock
        run: composer validate
        
      - name: Run linter 
        run: make lint

      - name: Run test & publish code coverage
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: 1
        with:
          coverageCommand: make test-coverage
          coverageLocations: build/logs/clover.xml:clover
          debug: true
